<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="customer" class="com.capital.one.beans.Customer"
		autowire="byName"
		init-method="initBalance" destroy-method="closeAccount">
		<property name="name" value="John Smith"></property>
		<property name="id" value="1"></property>
		<property name="chkacct" ref="checkingAccount"></property>
	</bean>
	
	<bean id="checkingAccount" class="com.capital.one.beans.CheckingAccount">
		<property name="balance" value="100"></property>
	</bean>

</beans>
